<div
  class="dialog-backdrop"
  *ngIf="visible"
  (click)="close()"
>

  <div
    class="dialog-panel"
    (click)="$event.stopPropagation()"
  >

    <!-- Header opcional -->

    <div class="dialog-header">

      <i class="fa-solid fa-scroll"></i>

      <span>Mensaje Arcano</span>

      <button
        class="close-button"
        (click)="close()"
      >

        <i class="fa-solid fa-xmark"></i>

      </button>

    </div>


    <!-- Input -->

    <div class="dialog-input-row">

      <i class="fa-solid fa-feather-pointed input-icon"></i>

      <input
        type="text"
        [(ngModel)]="message"
        placeholder="Escribe un mensaje..."
        (keyup.enter)="send()"
        autofocus
      />

      <button
        class="send-button"
        (click)="send()"
      >

        <i class="fa-solid fa-paper-plane"></i>

        Enviar

      </button>

    </div>

  </div>

</div>