
<div
  class="dialog-panel panel"
  (click)="$event.stopPropagation()"
>

  <!-- Header opcional -->

  <div class="dialog-header">

    <i class="fa-solid fa-scroll"></i>

    <span>{{ 'CHAT_SECTION_MESSAGE_TITLE' | translate }}</span>


  </div>


  <!-- Input -->

  <div class="dialog-input-row">

    <i class="fa-solid fa-feather-pointed input-icon"></i>

    <div class="reaction-suggestions panel" *ngIf="reactionSuggestions.length">
      <button
        type="button"
        class="reaction-suggestion"
        *ngFor="let r of reactionSuggestions"
        (click)="selectReaction(r)"
        [title]="':' + r.id + ':'"
      >
        <img [src]="r.path" [alt]="r.id" />
      </button>
    </div>

    <input
    #messageinput
      type="text"
      [(ngModel)]="message"
      (ngModelChange)="onMessageChange()"
      (blur)="hideSuggestionsDelayed()"
      [placeholder]="'CHAT_SECTION_PLACEHOLDER' | translate"
      (keyup.enter)="send()"
      autofocus
    />

    <button
      class="send-button btn btn-gold"
      (click)="send()"
    >

      <i class="fa-solid fa-paper-plane"></i>

      {{ 'CHAT_SECTION_SEND' | translate }}

    </button>

    <button
      class="btn btn-gold"
      (click)="showSuggestions()"
    >
      <i class="fa-solid fa-icons"></i>
    </button>

  </div>

</div>

