
<div
  class="dialog-panel"
  (click)="$event.stopPropagation()"
>

  <!-- Header opcional -->

  <div class="dialog-header">

    <i class="fa-solid fa-scroll"></i>

    <span>Mensaje Arcano</span>


  </div>


  <!-- Input -->

  <div class="dialog-input-row">

    <i class="fa-solid fa-feather-pointed input-icon"></i>

    <input
    #messageinput
      type="text"
      [(ngModel)]="message"
      placeholder="Escribe un mensaje..."
      (keyup.enter)="send()"
      autofocus
      list="images"
    />

    <button
      class="send-button"
      (click)="send()"
    >

      <i class="fa-solid fa-paper-plane"></i>

      Enviar

    </button>

  </div>

</div>

