<div class="gallery-container">

  <!-- HEADER -->

  <div class="gallery-header">

    <h1 class="title glow">

      <i class="fa-solid fa-book-sparkles title-icon"></i>

      Galería de Cartas

    </h1>

    <h2 class="subtitle">

      <i class="fa-solid fa-scroll"></i>

      Explora todas las cartas y descubre sus poderes

    </h2>

    <a
      routerLink="/"
      class="back-button"
    >

      <i class="fa-solid fa-arrow-left"></i>

      Volver a inicio

    </a>

  </div>



  <div class="main-content">

    <div
      class="deck-content"
    
    >

    <div
      *ngFor="let card of cards"
    >
      <p class="title">
        {{  card.name }}
      </p>

      <hr/>

      <div class="cards-container">
  
  
  
      <!-- <app-cardvisualizer
        *ngFor="let card of cards"
        [card]="card"
        class="card-item"
        [large]="false"
        
      >
      </app-cardvisualizer> -->
  
      <app-card
        *ngFor="let c of card.cards"
        [card]="c.Key"
        class="card-item"
        (click)="hoverCard = hoverCard == c.Key ? null : c.Key"
      
      >
      </app-card>
      
    </div>

    </div>

    </div>

    
    <div
    class="displayer">
      <app-cardvisualizer
      *ngIf="hoverCard"
        [card]="hoverCard"
      >

      </app-cardvisualizer>

      <p *ngIf="!hoverCard" >
        Haz click en una carta para ver lo que hace
      </p>

    </div>
  </div>

  <!-- GRID DE CARTAS -->


</div>