<div class="container"
>
<app-card
        [class.large]="large"
        [card]="card"
        [canBeSelected]="false"
    >
    </app-card>

    <div class="card-info" #cardinfo (scroll)="updateScrollFade()"  
    >
        <p>
            {{ card.type }}
        </p>

        <hr>

        <p
        class="card-families"
        *ngIf="card.families?.length !== 0"
        >
            {{ card.families?.join(" / ") }}
        </p>

        <hr *ngIf="card.families?.length !== 0">

        <p
        *ngIf="card.description"
        class="card-description"
        [innerHTML]="updateParser()"
        >
        </p>
    </div>

    <div class="has-scroll-fade" *ngIf="showScrollFade"
    >
        <i class="fa-solid fa-caret-down" style="color: rgb(255, 212, 59);"></i>    
    </div>
</div>