<div class="container">
    <app-card
        [card]="card"
        [canBeSelected]="false"
        [class.large]="large"
    >
    </app-card>

    <div class="card-info"
    >
        <p>
            Familias
        </p>

        <hr>

        <p
        class="card-families"
        *ngIf="card.families?.length !== 0"
        >
            {{ card.families?.join() }}
        </p>

        <hr>

        <p
        *ngIf="card.description"
        class="card-description"
        >
            {{ card.description }}
        </p>
    </div>
</div>