<div class="stats-container">

  <div class="stats-header">

    <h1 class="title">
      <i class="fa-solid fa-chart-simple title-icon"></i>
      Estadísticas de las Barajas
    </h1>

    <h2 class="subtitle">
      Partidas totales jugadas: {{ stats.TotalGames }}
    </h2>

    <a routerLink="/" class="back-button btn btn-gold">
      <i class="fa-solid fa-arrow-left"></i>
      Volver a inicio
    </a>

  </div>

  <div class="main-content" *ngIf="!loading; else statsLoading">

    <div class="deck-list-panel">

      <p *ngIf="stats.Decks.length === 0" class="empty-text">
        Todavía no hay estadísticas registradas.
      </p>

      <div
        *ngFor="let deck of stats.Decks"
        class="deck-row"
        [class.selected]="deck === selectedDeck"
        (click)="selectDeck(deck)"
      >
      <img src='{{ "images/decks/" + deck.DeckId + ".webp" }}' alt="" loading="lazy">
        <span class="deck-row-games">{{ deck.TotalGames }} partidas</span>
      </div>

    </div>

    <div class="stats-display">

      <ng-container *ngIf="selectedDeck; else noSelection">

        <img src='{{ "images/decks/" + selectedDeck.DeckId + ".webp" }}' alt="">


        <div class="selected-stats">

          <div class="chart">
  
            <div class="bar-group">
              <span class="bar-value">{{ selectedDeck.Wins }}</span>
              <div class="bar-track">
                <div class="bar win-bar" [style.height.%]="barHeight(selectedDeck.Wins)"></div>
              </div>
              <span class="bar-label">Victorias</span>
            </div>
  
            <div class="bar-group">
              <span class="bar-value">{{ selectedDeck.Losses }}</span>
              <div class="bar-track">
                <div class="bar lose-bar" [style.height.%]="barHeight(selectedDeck.Losses)"></div>
              </div>
              <span class="bar-label">Derrotas</span>
            </div>
  
          </div>
  
          <div class="extra-stats">
            <p><i class="fa-solid fa-dice"></i> Partidas jugadas: {{ selectedDeck.TotalGames }}</p>
            <p><i class="fa-solid fa-hourglass-half"></i> Turno medio de finalización: {{ selectedDeck.AverageTurn | number: '1.0-1' }}</p>
            <p>Tiempo medio de partida: {{ this.getSeconds(selectedDeck.AverageSeconds ) }}</p>
          </div>
        </div>


        <div class="matchups" *ngIf="selectedDeck.Matchups.length">

          <h3 class="matchups-title">Enfrentamientos por baraja rival</h3>

          <div class="radar-wrapper">

            <svg class="radar-chart" viewBox="0 0 300 300">

              <polygon
                *ngFor="let fraction of radarGridFractions"
                [attr.points]="radarGridPoints(fraction)"
                class="radar-grid"
              ></polygon>

              <line
                *ngFor="let matchup of selectedDeck.Matchups; let i = index"
                [attr.x1]="radarCenter" [attr.y1]="radarCenter"
                [attr.x2]="radarAxisPoint(i).x" [attr.y2]="radarAxisPoint(i).y"
                class="radar-axis"
              ></line>

              <polygon [attr.points]="radarLossPoints" class="radar-area radar-losses"></polygon>
              <polygon [attr.points]="radarWinPoints" class="radar-area radar-wins"></polygon>

              <image
                *ngFor="let matchup of selectedDeck.Matchups; let i = index"
                [attr.href]="'images/decks/' + matchup.OpponentDeckId + '.webp'"
                [attr.x]="radarAxisPoint(i, radarRadius + 22).x - 16"
                [attr.y]="radarAxisPoint(i, radarRadius + 22).y - 16"
                width="32" height="32"
                class="radar-deck-icon"
              >
                <title>{{ matchup.OpponentDeckName }}</title>
              </image>

            </svg>

            <div class="radar-legend">
              <span class="legend-item"><span class="legend-swatch win-swatch"></span> Victorias</span>
              <span class="legend-item"><span class="legend-swatch lose-swatch"></span> Derrotas</span>
            </div>

          </div>

          <div class="matchup-list">

            <div class="matchup-row" *ngFor="let matchup of selectedDeck.Matchups">

              <img class="matchup-image" src='{{ "images/decks/" + matchup.OpponentDeckId + ".webp" }}' alt="" loading="lazy">

              <span class="matchup-name">{{ matchup.OpponentDeckName }}</span>

              <span class="matchup-record">
                <span class="wins-text">{{ matchup.Wins }}V</span> - <span class="losses-text">{{ matchup.Losses }}D</span>
              </span>

              <span class="matchup-games">{{ matchup.TotalGames }} partidas</span>

            </div>

          </div>

        </div>

      </ng-container>

      <ng-template #noSelection>
        <p class="empty-text">Haz click en una baraja para ver sus estadísticas</p>
      </ng-template>

    </div>

  </div>

  <ng-template #statsLoading>
    <div class="loading-indicator">
      <span class="spinner"></span>
      <span>Cargando estadísticas...</span>
    </div>
  </ng-template>

</div>
