<div class="wave-group"
  [class.wave-knockback]="health?.shaking"
  [style.--knock-x]="health?.shakeX ?? 0"
  [style.--knock-y]="health?.shakeY ?? 0"
  [style.--knock-scale]="knockbackScale()"
>
  <div class="wave" *ngFor="let p of particles">
    <div class="wave-knock"
      [style.--knock-distance.px]="p.knockbackDistance"
      [style.--knock-delay.ms]="p.knockbackDelayMs"
    >
      <div class="wave-scale" [class.active]="active">
        <div class="wave-orbit"
          [class.reverse]="p.orbitReverse"
          [style.--radius.px]="p.orbitRadius"
          [style.--orbit-time.s]="orbitTimeFor(p)"
          [style.--orbit-phase.s]="p.orbitPhaseSeconds"
        >
          <div class="wave-shape"
            [class.active]="active"
            [style.--size.px]="p.size"
            [style.--rgb]="rgbFor(p)"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
