.card {

  --x-rotation: 0deg;
  --y-rotation: 0deg;
  --y-translate: 0;

  perspective: 1000px;

  border-radius: 10px;

  width: 7vw;
  height: 21vh;

  transition: transform 0.2s ease-out;
}

.card-can-be-selected
{
  --y-translate: -5vh !important;

}

.card:not(.selected):hover {

  transform:

    rotateX(var(--x-rotation))

    rotateY(var(--y-rotation))
    translateY(var(--y-translate))
    
    scale(1.1);
    

}

/* INNER */

.card-inner {

  width: 100%;
  height: 100%;

  position: relative;

  transform-style: preserve-3d;

  transition: transform 0.6s;

}


.card-front {
  display: flex;
  flex-direction: column;

  background: #7b7855;

  color: #c3faea;

}

.card-name
{
  text-align: center;
  font-size: small;
}


.card-back {


  background:

    linear-gradient(
      135deg,
      #2c2c54,
      #40407a
    );

  display: flex;

  align-items: center;
  justify-content: center;

  font-weight: bold;

  color: white;

}

.card-back-design
{
  text-align: center;
}


.card-art {

  flex-grow: 1;

  border-radius: 10px 10px 0 0;
  background-size:auto;
  background-repeat: no-repeat;
  background-position: center;


  margin: 0;

}


.card-footer {

  display: flex;

  justify-content: space-between;

  font-size: normal;

  padding: 0.25rem;

}


.shine {

  pointer-events: none;

  position: absolute;

  inset: 0;

}


.card:hover .shine {

  background:

    radial-gradient(

      at var(--x) var(--y),

      rgba(255,255,255,0.3) 20%,

      transparent 80%

    );

}

.selected
{
  transform: translateY(-3rem);
}

.enter-animation {
  animation: slide-fade 1s;
}

.leave-animation
{
  animation: slide-fade reverse 1s;
}

@keyframes slide-fade {
  from {
    opacity: 0.3;
    transform:
      translateY(-200px)
      rotateZ(-45deg);
  }

  to {
    opacity: 1;
    transform:
      translateY(0)
      rotateZ(0);
  }
}