  <div
    *ngIf="card || faceDown"
    class="card"
    [class.selected]="selected"
    [class.can-hover]="!selected && card?.canPlay"
    [attr.data-game-id]="card?.id"
    [animate.enter]="'enter-animation'"
    [animate.leave]="'leave-animation'"
    [class.card-front]="!faceDown"
    [class.card-back]="faceDown"
    [class.card-can-be-selected]="canBeSelected"
    [class.spell]="card?.type === 'Spell'"
    [style.background]="familiesToGradient(card?.families ?? [])"
  >
    <figure
    *ngIf="!faceDown"
      class="card-art"
      [style.backgroundImage]="'url(' + card?.imageUrl + ')'"
    ></figure>

    <p 
    *ngIf="!faceDown"
    class="card-name">
      {{ card?.name }}
    </p>

    <div class="card-info"
    *ngIf="!faceDown"
    >

      <i
      *ngIf="card?.description !== ''"
      class="fa-solid fa-circle-info"></i>

      <i 
      *ngIf="card?.hasEffect && card?.effectTimes || 0 > 0"
      class="fa-solid fa-lightbulb"></i>

      <i 
      *ngIf="card?.hasEffect && card?.effectTimes === 0"
      class="fa-regular fa-lightbulb"></i>

      <p *ngIf="card?.hasEffect && card?.effectTimes !== -1">
        {{ card?.effectTimes }}
      </p>

    </div>

    <footer class="card-footer" *ngIf="card?.type == 'Unit' && !faceDown">

      <span class="attack">
        <i class="fa-solid fa-hand-fist"></i> 
        {{ card?.attack }}

        <span
          *ngIf="card?.attackChanged"
          class="floating-number attack-change"
          [class.positive]="(card?.attackChangedAmount || 0) > 0"
          [class.negative]="(card?.attackChangedAmount || 0) < 0"
        >
          {{ (card?.attackChangedAmount || 0) > 0 ? '+' : '' }}
          {{ card?.attackChangedAmount }}
        </span>

      </span>

      <span class="health">

        <i class="fa-solid fa-heart"></i>
        {{ card?.health }}

        <span
          *ngIf="card?.healthChanged"
          class="floating-number health-change"
          [class.positive]="(card?.healthChangedAmount || 0) > 0"
          [class.negative]="(card?.healthChangedAmount || 0) < 0"
        >
          {{ (card?.healthChangedAmount || 0) > 0 ? '+' : '' }}
          {{ card?.healthChangedAmount }}
        </span>

      </span>

    </footer>


    <div class="card-back-design"
    *ngIf="faceDown"
    >

      Wizard War

    </div>


    <div 
    *ngIf="!card?.canPlay && !faceDown"
    class="cannot-play"></div>

  </div>
