  <div
    class="card"
    [class.selected]="selected"
    (mouseenter)="onMouseEnter($event)"
    (mouseleave)="onMouseLeave()"
    (mousemove)="onMouseMove($event)"
    [attr.data-game-id]="card?.id"
    [animate.enter]="'enter-animation'"
    [animate.leave]="'leave-animation'"
    [class.card-front]="!faceDown"
    [class.card-back]="faceDown"
  >
    <figure
    *ngIf="!faceDown"
      class="card-art"
      [style.backgroundImage]="'url(' + card?.imageUrl + ')'"
    ></figure>

    <div class="card-info"
    *ngIf="!faceDown"
    >

      <p class="card-name">
        {{ card?.name }}
      </p>

    </div>

    <footer class="card-footer" *ngIf="card?.type == 'Unit' && !faceDown">

      <span class="attack">
        ⚔ {{ card?.attack }}
      </span>

      <span class="health">
        ❤ {{ card?.health }}
      </span>

    </footer>


    <div class="card-back-design"
    *ngIf="faceDown"
    >

      Wizard War

    </div>


    <div class="shine"></div>

  </div>
