<div class="error-container">

    <div class="error-card">

      <div class="icon">
        ⚡
      </div>

      <h1>
        
        {{ 'ERROR_SECTION_TITLE' | translate }}
      </h1>

      <p class="message">
        {{ 'ERROR_SECTION_MESSAGE' | translate }}
      </p>

      <p class="sub-message">
        {{ 'ERROR_SECTION_SUB_MESSAGE' | translate }}
      </p>

      <button (click)="tryReload()" class="retry-button btn btn-gold">
        {{ 'ERROR_SECTION_RETRY' | translate }}
      </button>

      <p class="footer">
        {{ 'ERROR_SECTION_FOOTER' | translate }}
      </p>

    </div>

  </div>