<div class="player-content"
[class.dead]="player.Health.displayHealth <= 0"
>
    <div class="effects-section">
        <h3 class="effects-title subtitle">Efectos:</h3>
        
        <div class="effects">
            <p class="effect" *ngFor="let e of this.player.GlobalEffects">
                {{ e }}
            </p>
        </div>
    </div>
    
    <div class="info-section"
    [class.reverse]="reverseOrder"
    >
        
        <div class="board-section">
            
            <div class="player-info">
                <app-health 
                [health]="player.Health"
                [rival]="!visibleHand"
                [attr.data-game-id]="player.Id"
                (click)="playerTargetSelected()"
                [enhanced]="showHealthAsTarget"
                ></app-health>
                
                <p class="player-name"
                
                [class.turn-active]="player.IsMyTurn && !isAnimating"
                >
                    {{ player.Name }}
                </p>
            </div>
            
            
            
            <div class="board-row">
                
                <app-dock
                *ngFor="let card of player.Board; index as i"
                [card]="card"
                [enhanced]="(unitSelected && card === null) || (card !== null && attackingUnit !== null && card.id !== attackingUnit.id)"
                [isAttackingCard]="card !== null && card.id === attackingUnit?.id"
                (contextmenu)="onRightClick($event, card)"
                (click)="dockSelected(i)"
                (onCardClick)="attackingUnitSelected(card)"
                [rival]="!visibleHand"
                [isTarget]="card !== null && attackingUnit !== null"
                />
                
                <hr class="separator">
                
                <app-dock
                [card]="player.LastSpellPlayed"
                (contextmenu)="onRightClick($event, player.LastSpellPlayed)"
                (click)="lastSpellClicked()"
                [rival]="!visibleHand"
                [spell]="true"
                >
            </app-dock>
            
        </div>

        <app-deck 
        class="player-deck"
        [small]="true"
        [deck]="player.Deck"
        [attr.data-game-id]="player.Id + '-deck'"
        (click)="deckSelected()"
        ></app-deck>

        <p class="target-player" *ngIf="showTarget">
            Jugador objetivo:
            <br>
            <span>{{ player.TargetPlayer }}</span>
        </p>
        </div>

        <div class="hand"
        *ngIf="!visibleHand"
        >
            <app-card
            *ngFor="let card of [].constructor(player.HandSize); let i = index"
            [style.transform]="getTransform(i, player.HandSize)"
            />
        </div>
    
        <div class="hand"
        *ngIf="visibleHand"
        >
        <app-card
            [style.transform]="getTransform(i, player.HandData.length)"
            *ngFor="let card of player.HandData; let i = index"
            [card]="card"
            (click)="cardSelected(card)"
            [selected]="card.id === selectedCard?.id"
            (contextmenu)="onRightClick($event, card)"
            [canBeSelected]="true"
        />
        </div>

    </div>

</div>
