
.game-layout {

  display: flex;

  position: relative;

  padding: 0 4rem;

  background: #a2bddb;
  background: radial-gradient(circle,rgba(162, 189, 219, 1) 0%, rgba(180, 224, 193, 1) 50%, rgba(89, 102, 125, 1) 100%);
}

.board-column {
  height: 100vh;
  flex: 1;

  justify-content: space-around;

  display: flex;

  flex-direction: column;

}

.enemy-hand,
.player-hand {

  display: flex;
  

  justify-content: center;

  gap: 10px;

  padding: 10px;

}

.enemy-board,
.player-board {

  align-items: center;

  display: flex;

  padding: 0.25rem;

}

/* PANEL */

.side-panel {

  width: 0;

  overflow: hidden;

  transition: width 0.3s;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.side-panel.open {

  width: 300px;

}

/* BOTÓN */

.toggle-panel {

  position: absolute;

  top: 10px;
  right: 10px;

}

.board-row {

  flex-grow: 1;

  align-items: center;
  display: flex;

  justify-content: center;

  gap: 10px;


}

.animation-layer {

  position: fixed;

  inset: 0;

  pointer-events: none;

  z-index: 9999;

  overflow: visible;

}

.floating-card {

  position: fixed;

  transform:
    translate(-50%, -50%);

  will-change:
    transform,
    left,
    top;

  z-index: 10000;

  pointer-events: none;

}


/* ARREGLAR */
.information-card app-card
{
  transform: scale(2);
}

.separator
{
  width: 0.25rem;
  align-self: stretch;
  border: 3px solid #ccc;
  background-color: #ccc;
  margin: 0 10px;
}

.proyectile {
  width: 25px;
  height: 25px;

  background-image: url("/images/board/proyectile.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  position: fixed;
  pointer-events: none;
  z-index: 9999;
}


.player-info
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.player-name
{
  text-align: center;
}