<div class="game-layout">
<div class="table-container" #viewport
  [style.width.px]="boardSizeX"
    [style.height.px]="boardSizeY"
    [style.transform]="'rotate(' + boardRotation + 'deg)'"
    (mousedown)="onMouseDown($event)"
    >
>

  <!-- Yo -->
  <div class="player-slot me"
      [ngStyle]="styles[0]"

      #playerboard
  >
    <app-player
      [player]="gameState.Me"
      [visibleHand]="true"
      [isAnimating]="isAnimating"
      [showHealthAsTarget]="attackingUnit !== null"
      (onDeckSelected)="deckSelected()"
      (onCardRightClick)="onRightClick($event.event, $event.card)"
      (onDockSelected)="dockSelected($event)"
      (onAttackingUnitSelected)="attackingUnitSelected($event)"
      (onLastSpellClicked)="lastSpellClicked()"
      (onCardSelected)="cardSelected($event)"
      (onTargetSelected)="targetSel()"
      [selectedCard]="selectedCard"
      [unitSelected]="unitSelected"
      [attackingUnit]="attackingUnit"
    >
    </app-player>
  </div>
  <!-- Rivales -->
  <div
    class="player-slot rival"
    *ngFor="let player of gameState.Rivals; let i = index"
    [ngStyle]="styles[i + 1]"
  >
    <app-player
      [player]="player"
      [visibleHand]="false"
      [isAnimating]="isAnimating"
      [reverseOrder]="shoudlRotatePlayers"
      [showHealthAsTarget]="attackingUnit !== null"
      (onCardRightClick)="onRightClick($event.event, $event.card)"
      (onDockSelected)="rivalBoardCardSelected(player, player.Board[$event])"
      (onPlayerTargetSelected)="rivalTargetSelected(player)"
    >
    </app-player>
  </div>
</div>

<div class="action-buttons">
  <button (click)="rotateBoardLeft()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <button (click)="resetTransform()">YO</button>
  <button (click)="rotateBoardRight()">
    <i class="fa-solid fa-arrow-right"></i>
  </button>
  <button (click)="openChat()">Abrir chat [TAB]</button>
  <button (click)="prepareTableGame()">Recalcular tablero visual</button>
</div>

  <div class="animation-layer">

    <div class="proyectile" style="display: none;">

    </div>
  </div>
</div>

<div class="winner-overlay">
  <div #winnerboard class="winner-board">
    <p>
      <span class="winner-name">Jugador 1</span>
      es el ganador de la guerra.
    </p>

    <button (click)="leaveGame()">Aceptar</button>
  </div>
</div>

<app-game-card-check
#gamecheck
>

</app-game-card-check>

<app-chat
#chat
(onMessageSent)="onMessageSent($event)"
>

</app-chat>

