<div class="game-layout">
<div class="table-container" #viewport
  [style.width.px]="boardSizeX"
    [style.height.px]="boardSizeY"
    [style.transform]="'rotate(' + boardRotation + 'deg)'"
    (mousedown)="onMouseDown($event)"
    >
>

  <!-- Yo -->
  <div class="player-slot me"
      [ngStyle]="styles[0]"

      #playerboard
  >
    <app-player
      [player]="gameState.Me"
      [visibleHand]="true"
      [isAnimating]="isAnimating"
      (onDeckSelected)="deckSelected()"
      (onCardRightClick)="onRightClick($event.event, $event.card)"
      (onDockSelected)="dockSelected($event)"
      (onAttackingUnitSelected)="attackingUnitSelected($event)"
      (onLastSpellClicked)="lastSpellClicked()"
      (onCardSelected)="cardSelected($event)"
      (onTargetSelected)="targetSel()"
      [selectedCard]="selectedCard"
      [unitSelected]="unitSelected"
      [attackingUnit]="attackingUnit"
      [showTarget]="gameState.Rivals.length !== 1"
    >
    </app-player>
  </div>
  <!-- Rivales -->
  <div
    class="player-slot rival"
    *ngFor="let player of gameState.Rivals; let i = index"
    [ngStyle]="styles[i + 1]"
  >
    <app-player
      [player]="player"
      [visibleHand]="false"
      [isAnimating]="isAnimating"
      [attackingUnit]="attackingUnit"
      [reverseOrder]="shoudlRotatePlayers"
      [showHealthAsTarget]="attackingUnit !== null"
      (onCardRightClick)="onRightClick($event.event, $event.card)"
      (onDockSelected)="rivalBoardCardSelected(player, player.Board[$event])"
      (onPlayerTargetSelected)="rivalTargetSelected(player)"
      [showTarget]="gameState.Rivals.length !== 1"
    >
    </app-player>
  </div>
</div>

<div class="action-buttons">
  <p>
    <span>
      Turno: {{ gameState.CurrentTurn }}
    </span>

    <span *ngIf="gameState.CurrentTurn % 2 !== 0" 
      title="Al acabar este turno, todos los jugadores roban una carta"
    >
<i class="fa-solid fa-copy"></i>
<i class="fa-solid fa-plus"></i>
    </span>

  </p>

  <div class="rotate-buttons"
      *ngIf="gameState.Rivals.length !== 1"
  >
    <button (click)="rotateBoardLeft()">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <button (click)="resetTransform()">Reiniciar rotación</button>
    <button (click)="rotateBoardRight()">
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
  <button class="notification-button" (click)="openChat()">Abrir chat [TAB]

    <p class="notification-counter"
    *ngIf="unreadNotificationCounter !== 0"
    >
      {{ unreadNotificationCounter }}
    </p>
  </button>
  <button (click)="prepareTableGame()">Recalcular tablero visual</button>
</div>

  <div class="animation-layer">

    <div class="proyectile" style="display: none;">

    </div>

    <div class="icon-hand" style="display: none;"></div>
    <div class="icon-hand-card" style="display: none;"></div>
    <div class="icon-hand-wrench" style="display: none;"></div>
  </div>
</div>

<div class="winner-overlay">
  <div #winnerboard class="winner-board">
    <p>
      <span class="winner-name">Jugador 1</span>
      es el ganador de la guerra.
    </p>

    <button (click)="leaveGame()">Aceptar</button>
  </div>
</div>

<app-game-card-check
#gamecheck
>

</app-game-card-check>

<app-chat
#chat
(onMessageSent)="onMessageSent($event)"
>

</app-chat>

