.help-header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  & *
  {
    font-size: 3rem;
    text-align: center;
    margin: 0;
  }
}

.card-types
{
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.card-types > div
{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: stretch;

  & *:first-child
  {
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }
  & *:last-child
  {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
  }
}

.help-container
{
  max-height: 90vh;
  overflow-y: scroll;
  max-width: 50vw;
  padding: 2rem;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.7);

}

.actions-container
{
  gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  width: 55vw;
  justify-content: center;

  & .text
  {
    font-size: 2rem;
    margin: 0;
  }

}
video
{
  width: 25vw;
  border: 3px solid black;
  transition: all 0.1s ease-in-out;
}

video.gray
{
  filter: grayscale(0.5);
}

video:not(.gray)
{
  transform: scale(1.01)
}

hr
{
    background-color: white;
}