.dock
{
    width: 8vw;
    height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}

.enhanced
{
    box-shadow: rgb(38, 57, 77) 0px 10px 40px -0px;
}



.rival-background
{
    background-image: url('/images/board/rival_dock.png')
}

.player-background
{
    background-image: url('/images/board/player_dock.png')
}

.spell-background
{
    transform: scale(0.8);
    filter: grayscale(80%);
}

.contained-card
{
    width: fit-content;
    display: flex;
    margin: auto;
}

