.dock
{
    width: 8vw;
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}

.enhanced
{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.attacking
{
    box-shadow: 0 0 10px 2px rgba(255, 239, 8, 0.8);
}

.rival-background
{
    background-image: url('/images/board/rival_dock.svg')
}

.player-background
{
    background-image: url('/images/board/player_dock.svg')
}

.spell-background
{
    transform: scale(0.8);
    filter: grayscale(80%);
}

.contained-card
{
    width: fit-content;
    display: flex;
    margin: auto;
}