<div class="team-container">

  <div class="team-header">

    <h1 class="title">
      <i class="fa-solid fa-users title-icon"></i>
      Conoce al equipo
    </h1>

    <h2 class="subtitle">
      Un equipo de decenas de profesionales, que resultan ser las mismas 2 personas.
    </h2>

    <a routerLink="/" class="back-button btn btn-gold">
      <i class="fa-solid fa-arrow-left"></i>
      Volver a inicio
    </a>

  </div>

  <div class="participants">

    <div class="member-list">
  
      <div class="member-card" 
      *ngFor="let member of members"
        [ngStyle]="{
          'background-image': 'url(/images/devs/' + member.instagram + '_banner.webp)'
        }"
      >
  
        <a
          [href]="'https://www.instagram.com/' + member.instagram + '/'"
          target="_blank"
          rel="noopener noreferrer"
          class="member-header hover-grow"
        >
          <img class="member-photo" [src]="member.photo" [alt]="member.name" loading="lazy">
  
          <span class="member-name">
            <i class="fa-brands fa-instagram"></i>
            @{{ member.name }}
          </span>
  
          <span class="member-lead">{{ member.roleLead }}</span>
  
        </a>
  
        <ul class="member-titles">
          <li *ngFor="let title of member.titles">{{ title }}</li>
        </ul>
  
      </div>
  
    </div>
    <div>
      <h2 class="title">COLABORADOR@S</h2>
  
      <div class="members-list">
  
        <div
        *ngFor="let col of collaborators"
        class="collaborator-card"
        >
          <span class="collaborator-name">
            {{ col.name }}
          </span>
  
          <span class="collaborator-lead">{{ col.roleLead }}</span>
        </div>
  
      </div>
    </div>
  </div>



</div>
