<div
  class="deck"
  [class.small]="small"
  [class.unavailable]="unavailable"
>

<div
[class.selected]="selected"
    class="deck-image"
    [ngStyle]="{
      'background-image': 'url(' + getImagePath() + ')'
    }"
  >
    <span class="descriptiontext"
    [class.up]="infoUp"
    >
      <p
      *ngIf="deck.description !== ''"
      >
        {{ deck.description }}
      </p>

      <p
      *ngIf="deck.cardAmount"
      >
        {{ 'DECK_SECTION_CARDS' | translate }} {{ deck.cardAmount }}
        
      </p>
    </span>
  </div>

  <p class="deck-name" 
  *ngIf="deck.name"
  >
    {{ deck.name | translate }}
  </p>

</div>