.health-animate-enter {
  animation: popEnter 500ms ease-out;
}

.health-animate-exit {
  animation: popExit 500ms ease-in;
}

/* Entrada desde arriba */

@keyframes popEnter {

  0% {
    transform: translateY(-3vw);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }

}

/* Salida hacia abajo */

@keyframes popExit {

  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(3vw);
    opacity: 0;
  }

}

/* Color si pierde vida */


.enhanced::after
{
  content: "";
  box-shadow: -20px 50px 60px 60px rgb(239, 255, 14);
  position: absolute;
  z-index: -1;
}

.life-text.negative {
  color: red;
}

.life-text.positive
{
  color: green;
}

.rival-health-background,
.player-health-background
{
  display: flex;
  width: 7rem;
  height: 11rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.rival-health-background
{
  background-image: url('/images/board/rival_life_container.svg')
}

.player-health-background
{
  background-image: url('/images/board/player_life_container.svg')
}

.life-text
{
  margin: auto;
  margin-top: 2rem;
  font-size: xx-large;
  color:white;
}
