@font-face {
  font-family: Title;
  src: url("/fonts/Chokokutai-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Subtitle Font";
  src: url("/fonts/GeostarFill-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Text Font";
  src: url("/fonts/Geo-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Text Font 2";
  src: url("/fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Text Font 3";
  src: url("/fonts/Eagle_Lake/EagleLake-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Text Font 4";
  src: url("/fonts/Kings/Kings-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Text Font 5";
  src: url("/fonts/Uncial_Antiqua/UncialAntiqua-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}

h1, .title
{
    font-family: "Text Font 3";
}

h2, .subtitle
{
    font-family: "Text Font 5";
}

p, .text
{
    font-family: "Text Font 2";
}

body {
    background:
    radial-gradient(circle at top, #2b1055, #000);
    margin: 0;
}

*
{
::-webkit-scrollbar {
    display: none;
}

}

.proyectile
{
  height: 4rem;
  width: 4rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  position: fixed;
  pointer-events: none;
  z-index: 9999;
  background-image: url("/images/board/proyectile.svg");
}