@font-face {
  font-family: Title;
  src: url("/fonts/Chokokutai-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Subtitle Font";
  src: url("/fonts/GeostarFill-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Text Font";
  src: url("/fonts/Geo-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}

h1, .title
{
    font-family: "Title";
}

h2, .subtitle
{
    font-family: "Subtitle Font";
}

p, .text
{
    font-family: "Text Font";
}

body {
    background:
    radial-gradient(circle at top, #2b1055, #000);
    margin: 0;
}

*
{
::-webkit-scrollbar {
    display: none;
}

}

/* SPECIAL WORDS CLASS */

.rival
{
    color: red;
}

.player
{
    color: green;
}

.draw
{
    text-decoration: double;
}

.play
{
    text-emphasis-style: circle;
}

.family
{
    font-style: italic;
    font-weight: bold;
}

.skill
{
    color: yellow;
}

.die
{
    text-decoration: line-through;
}

.add
{
    text-decoration: wavy;
}